.page {
  height: 100vh;
  width: 100%;
}

.landing-page-container {
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #4f5052;
  overflow-y: scroll;
  padding: 20px;
}

.form {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.input {
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, .3);
  color: rgb(139, 114, 250);

  &:focus {
    border: 1px solid rgb(139, 114, 250);
    outline: none;
  }

  &::placeholder {
    color: #282D35;
  }
}


.button {
  height: 100%;
  width: 20%;
  margin-left: 10px;
}


.results-conteiner {
  margin-top: 10px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}


.row-conteiner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border: 1px solid #000;
  height: 55px;
  margin-top: 10px;
  border-radius: 5px;

  color: rgb(139, 114, 250);

  &:hover {
    color: #ffffff;
    background-color: rgb(139, 114, 250);
  }

  .text-p {
    margin-left: 20px;
  }

}

.fault-conteiner {
  font-size: 35px;
  color: #fcfafa;
}

.loader {
  margin: 0 auto;
  margin-top: 35vh;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -90em;
  animation: loader 1.1s infinite ease;
  transform: translateZ(0);
}

$color-loader: #1987a8;
$color-loader2: #71bdd4;
$color-loader3: #89b9c7;
$color-loader4: #c1c9cc;

@keyframes loader {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em $color-loader, 1.8em -1.8em 0 0em $color-loader,
      2.5em 0em 0 0em $color-loader, 1.75em 1.75em 0 0em $color-loader,
      0em 2.5em 0 0em $color-loader, -1.8em 1.8em 0 0em $color-loader,
      -2.6em 0em 0 0em $color-loader2, -1.8em -1.8em 0 0em $color-loader3;
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em $color-loader3, 1.8em -1.8em 0 0em $color-loader4,
      2.5em 0em 0 0em $color-loader, 1.75em 1.75em 0 0em $color-loader,
      0em 2.5em 0 0em $color-loader, -1.8em 1.8em 0 0em $color-loader,
      -2.6em 0em 0 0em $color-loader, -1.8em -1.8em 0 0em $color-loader2;
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em $color-loader2, 1.8em -1.8em 0 0em $color-loader3,
      2.5em 0em 0 0em $color-loader4, 1.75em 1.75em 0 0em $color-loader,
      0em 2.5em 0 0em $color-loader, -1.8em 1.8em 0 0em $color-loader,
      -2.6em 0em 0 0em $color-loader, -1.8em -1.8em 0 0em $color-loader;
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em $color-loader, 1.8em -1.8em 0 0em $color-loader2,
      2.5em 0em 0 0em $color-loader3, 1.75em 1.75em 0 0em $color-loader4,
      0em 2.5em 0 0em $color-loader, -1.8em 1.8em 0 0em $color-loader,
      -2.6em 0em 0 0em $color-loader, -1.8em -1.8em 0 0em $color-loader;
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em $color-loader, 1.8em -1.8em 0 0em $color-loader,
      2.5em 0em 0 0em $color-loader2, 1.75em 1.75em 0 0em $color-loader3,
      0em 2.5em 0 0em $color-loader4, -1.8em 1.8em 0 0em $color-loader,
      -2.6em 0em 0 0em $color-loader, -1.8em -1.8em 0 0em $color-loader;
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em $color-loader, 1.8em -1.8em 0 0em $color-loader,
      2.5em 0em 0 0em $color-loader, 1.75em 1.75em 0 0em $color-loader2,
      0em 2.5em 0 0em $color-loader3, -1.8em 1.8em 0 0em $color-loader4,
      -2.6em 0em 0 0em $color-loader, -1.8em -1.8em 0 0em $color-loader;
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em $color-loader, 1.8em -1.8em 0 0em $color-loader,
      2.5em 0em 0 0em $color-loader, 1.75em 1.75em 0 0em $color-loader,
      0em 2.5em 0 0em $color-loader2, -1.8em 1.8em 0 0em $color-loader3,
      -2.6em 0em 0 0em $color-loader4, -1.8em -1.8em 0 0em $color-loader;
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em $color-loader, 1.8em -1.8em 0 0em $color-loader,
      2.5em 0em 0 0em $color-loader, 1.75em 1.75em 0 0em $color-loader,
      0em 2.5em 0 0em $color-loader, -1.8em 1.8em 0 0em $color-loader2,
      -2.6em 0em 0 0em $color-loader3, -1.8em -1.8em 0 0em $color-loader4;
  }
}